<%-include head.ejs%>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2">
			<%- include navLeft.ejs%>
		</div>
		<div class="col-sm-10">
			<ol class="breadcrumb">
				<li class="active">System administration </li>
				<li class="active">System expansion</li>
			</ol>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					System Expansion Interface
				</div>
				<div class="panel-body">
					<div class="table-responsive intput-form" style="font-size:large;font-weight: bold;">
                        <p>The system is divided into independent modules, each responsible for specific functions. At the same time, we leave interfaces for easy expansion of the system. We can add modules to introduce
                             new functions without affecting the overall structure of the system.
                            </p>
	
								
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
</body>
</html>