<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/navBar.css">
    <link rel="stylesheet" href="/stylesheets/navBar.css"">
</head>
<body>

    <div class="header">
        <div class="content">
          <ul>
            <li><a href="">个人中心</a>/</li>
            <li><a href="">更多</a>/</li>  
          </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <h1 align='center' style="color:#FFE4B5;">基于国标的水质监测与数据分析系统</h1>
        </div>
        <div class="row">
            <div class="navBar">
                <nav>
                    <a class="currentPage" href="">首页</a>
                    <a href="/login">数据添加</a>
                    <a href="">数据更改</a>
                    <a href="">数据查询</a>
                    <a href="">历史数据可视化</a>
                </nav>
            </div>
        </div>
    </div>
    
</body>
</html>