<a href="#" class="list-group-item active" style="background-color:rgb(32, 137, 69)">Research on multi-sensor water quality monitoring system based on outlier data analysis</a>
<a href="/realtime" class="list-group-item">Real-time display</a>
<a href="/history"class="list-group-item">Historical data analysis</a>
<a href="/history"class="list-group-item">Historical data visualization</a>


<a href="#" class="list-group-item active" style="background-color:rgb(32, 137, 69)">Historical data management</a>
<a href="/msgAdd" class="list-group-item">Manual data addition</a>
<a href="/msgShow"class="list-group-item">Data operations</a>
<a href="#" class="list-group-item active" style="background-color:rgb(32, 137, 69)">System Expansion Operations</a>
<a href="/expansion"class="list-group-item">Maintenance record analysis</a>
<a href="/expansion"class="list-group-item">System Management</a>
