<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet"/>
    <link href="/stylesheets/my.css" rel="stylesheet"/>
    <!--
        注意引入css文件时，要使用link属性，而不是script，并且link一般单独出现
    -->
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/jquery-1.12.4.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/echarts.min.js"></script>

</head>
<body>
    <table ><tr>
        <td>
            <img src="/images/temperature2.png">
            <div class="content">
                <div class="showMeg">
                  <p class="title">温度：</p>
                  <p style="color:#CDD9D7" id="test"></p>
                </div>
            </div>
        </td>
        <td>
            <img src="/images/temperature2.png">
            <div class="content">
                <div class="showMeg">
                  <p class="title">温度：</p>
                  <p style="color:#CDD9D7" id="test2"></p>
                </div>
            </div>
        </td>

    </tr></table>
    
</body>
</html>